@model Quoteversation.Web.ViewModels.Conversations.ConversationViewModel
@{
    ViewBag.Title = "ById";
}

<h2>@this.Model.Title</h2>

<div>
    <p>@Model.Description</p>
    @Html.DisplayFor(m => m.Tags)
    <br />
    <br />
    @foreach (var post in Model.Posts)
    {
        <div class="row">
            <div class="col-md-2">
                <div id= @("likes-count-" + post.Id)>
                    @Html.Partial("_LikesCount", post)
                </div>
            </div>

            <div class="col-md-6">
                @if (post.PicId != null)
                {
                    <div class="panel panel-default panel-primary">
                        <div class="panel-body">
                            <img src="@Url.Action("GetImage", "Images", new { id = post.PicId })" class="img-responsive" />
                        </div>
                        <div class="panel-footer">
                            @Html.ActionLink("View image details", "Details", "Images", new { id = post.PicId }, new { @class = "btn btn-default" })
                            <span class="pull-right"><i>Posted by: </i><strong>@post.AuthorName</strong></span>
                        </div>
                    </div>
                }
                @if (@post.VideoId != null)
                {
                    <div class="panel panel-default panel-primary">
                        <div class="panel-body">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="@post.Video.VideoUrl"></iframe>
                            </div>
                            <br />
                            <p class="text-right"><i>Song title:</i> <strong>@post.Video.SongTitle</strong></p>
                            <p class="text-right"><i>Artist:</i> <strong>@post.Video.Artist</strong></p>
                        </div>
                        <div class="panel-footer">
                            @Html.ActionLink("View video details", "Details", "Videos", new { id = post.VideoId }, new { @class = "btn btn-default" })
                            <span class="pull-right"><i>Posted by: </i><strong>@post.AuthorName</strong></span>
                        </div>
                    </div>
                }
                @if (@post.QuoteId != null)
                {
                    <div class="panel panel-default panel-primary">
                        <div class="panel-body">
                            <p>@post.Quote.QuoteText</p>
                            <span class="pull-right">Author: @post.Quote.QuoteAuthor</span>
                        </div>
                        <div class="panel-footer">
                            @Html.ActionLink("View quote details", "Details", "Quotes", new { id = post.QuoteId }, new { @class = "btn btn-default" })
                            <span class="pull-right"><i>Posted by: </i><strong>@post.AuthorName</strong></span>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>

