@model Quoteversation.Web.ViewModels.Images.ImageDetailsViewModel

<div class="panel panel-default panel-primary">
    <div class="panel-body">
        <img src="@Url.Action("GetImage", "Images", new { id = Model.Id })" class="img-responsive" />
    </div>
    <div class="panel-footer">
        <p>
            @Html.DisplayFor(itemModel => itemModel.Tags)
        </p>
        @if (@Model.Uploader != null)
        {
            <p>Uplodaer: @this.Model.Uploader.UserName</p>
        }
        else
        {
            <p>Uplodaer: Administrator</p>
        }
        <div class="text-center">
            @if (this.ViewData["convId"] != null)
            {
                @Html.ActionLink("Add to post", "AddPost", "Conversations", new { convId = this.ViewData["convId"], contentId = Model.Id, contentType = "image" }, new { @class = "btn btn-default" })
            }
        </div>
    </div>
</div>